.item{
	width: 300px;
	padding: 10px;
	margin: 30px;
	border: 1px solid rgb(134, 133, 133);
	border-radius: 10px;
	box-shadow: 0 0 10px #000;
}

.image img{
	width: 200px;
	text-align: center;
}

.image{
	text-align: center;
}

.titleItem{
	height: 40px;
	font-size: large;
	text-align: center;
	font-weight: bold;
	padding: 10px 0;
}

.price{
	font-size: normal;
	text-align: center;
}

.btn{
	padding-bottom: 15px;
}

button{
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 50px;
	border: 0;
	background-color: #746bde;
	cursor: pointer;
	color: beige;
	font-size: 15px;
}

button:hover{
	border-radius: 10px;
	transition: 0.3s;
}

.btns{
	padding-top: 20px;
	display: flex;
	justify-content: space-around;
}