.navList{
	display: flex;
}

@media (max-width:840px) {
	.navList{
		flex-direction: column;
		position: relative;
		top: 100px;
	}
	.navList li{
		font-size: 25px;
		padding-bottom: 10px;
	}
	.wrapper{
		height: 250px;
	}
	.itemPos{
		flex-direction: column;
	}
}

@media(max-width:410px) {
	.item{
		width: 200px;
		margin: 15px;
	}
	.header{
		flex-direction: column;	
	}
	.header .logo{
		padding-top: 15px;
		margin: 0;
	}
	.navList{
		top: 10px;
		margin: 0;
	}
	.navList li{
		margin: 0;
	}
	.navList a{
		margin: 0 auto;
	}
	.basket{
		position: absolute;
		top: 15px;
		right: 0;
	}
}

li{
	margin: 0;
	list-style-type: none;
	margin-right: 50px;
	align-items: center;
}

ul{
	margin: 0;
	padding: 0;
	align-items:center;
}

a{
	text-decoration: none;
	color:beige;
	text-align: center;
}

li:hover{
	text-decoration-line: underline;
	transition:0.3s
}

.header{
	margin: 0 auto;
	max-width: 1300px;
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items:center;
}

img{
	width: 30px;
}

.wrapper{
	background-color: #746bde;
	max-width: 100%;
}

.logo{
	margin: 0;
	color: beige;
	font-weight: bold;
	margin-left: 40px;
	text-shadow: 1px 1px 2px black, 0 0 1em #746bde}

.basket{
	align-items: center;
	padding-right: 40px;
}